<br><br><br><br>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>



<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
    <script>
    $(document).ready(function(){
      var
              $login= $('#modal')
              ,tl = new TimelineLite({onComplete:restart});
                  tl.fromTo($login,1,{scale:0,autoAlpha:0},{scale:1,autoAlpha:1, ease:Elastic.easeInOut},'sync');
              tl.play();
          function restart(){
            tl.stop();
            // tl.restart();
          }
    });
    </script>


<div id="modal" >
  <div class = "divv" style= "margin: 0 auto">
<h2>Sign up</h2>

  <div class="field">
    <%= f.text_field :name, autofocus: true, placeholder: "name", class: "form-control"%>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <p><%= f.file_field :image, class: "form-control " %></p>
  </div>
  <div class="field">
    <%= f.email_field :email, autofocus: true, placeholder: "example@gmail.com", class: "form-control"%>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off",class: "form-control", placeholder: "Password" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirm-Password"%>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "form-control btn btn-success" %>
  </div>
<% end %>
<%= render "devise/shared/links" %>
</div>
</div>
