<%= form_for @movies do |f| %>
<div class="container">
  <div class = "row">
    <% if @movies.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@movies.errors.count, "error") %> prohibited
          this article from being saved:
        </h2>
        <ul>
          <% @movies.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
	<div class="row">
		<div class="col-sm-12">
			<div class="row">
				<div class="col-sm-6">
          <%= f.label :image %><br>
					<p><%= f.file_field :image, class: "form-control " %></p>
				</div>
				<div class="col-sm-6">
					<div class="row">
						<div class="col-sm-6">
              <div class = "row">
                <%= f.label :title %><br>
                <%= f.text_field :title, class: "form-control"%>
              </div>
              <div class = "row">
                <%= f.label :genre %><br>
                <%= f.text_field :genre, class: "form-control" %>
              </div>
              <div class = "row">
                <%= f.label :rating %><br>
                <%= f.number_field :rating, class: "form-control" %>
              </div>
              <div class = "row">
                <%= f.label :plot %><br>
                <%= f.text_area :plot, class: "form-control" %>
              </div>

            </div>


						<div class="col-sm-6">
              <div class = "row">
                <%= f.label :website %><br>
                <%= f.text_field :web, class: "form-control" %>
              </div>
              <div class = "row">
                <%= f.label :year %><br>
                <%= f.date_field :year,as: :year, class: "form-control" %>
              </div>
              <div class = "row">
                <%= f.label :cast %><br>
                <%= f.text_area :cast, class: "form-control" %>
              </div>
              <br>
              <div class = "row text-center">
                <%= f.submit class: "btn btn-success"%>
              </div>

						</div>
          </div>
        </div>
      </div>
    </div>
		</div>
	</div>
<%end%>
