<div class = "row col-sm-12">
  <br><br>

  <div class="col-sm-2 "><%if user_signed_in? %><img class ="thumbnail pull-right" style="max-width: 52px;" src="<%=current_user.image_url%>"/><%else%>
    <%end%>
  </div>
  <div class="col-sm-10">

    <%= form_for([@movies,@movies.comments.build]) do |f| %>

          <% if @movies.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@movies.errors.count, "error") %> prohibited this commment from being saved:</h2>

              <ul>
              <% @movies.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
             </ul>
          </div>
          <% end %>

      <%= f.text_area :body, class: "form-control" %>
    </p>
  </span>
    <p>
      <%= f.submit class: "btn btn-sm btn-success"%>
    </p>
  <% end %>
</div>
</div>
