
  <div class="col-sm-6">
    <%= image_tag movie.image.url %>
  </div>
  <div class="col-sm-6">

        <h3>
          <%=label_tag 'title: '%>
          <%= movie.title%>
        </h3>
        <p>
          <span class="glyphicon glyphicon-star-empty glyphicon">
          <%=movie.rating%></span>
        </p>
        <p>
          <%=label_tag 'year: '%>
          <%=movie.year%>
        </p>
        <p>
          <%=label_tag 'genre: '%>
          <%=movie.genre%>
        </p>
        <p>
          <%=label_tag 'plot: '%>
          <%=movie.plot%>
        </p>
        <p>
          <a href="<%=movie.web%>"><button class = " btn btn-sm btn-success">Website</button></a>
        </p>
  </div>
