<div class="container">
	<!-- <div class="row" style="    padding-right: 30px;">
		<div class="col-md-12">
			<div class="carousel slide" id="carousel-917441">
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-917441">
					</li>
					<li data-slide-to="1" data-target="#carousel-917441">
					</li>
					<li data-slide-to="2" data-target="#carousel-917441">
					</li>
				</ol>
				<div class="carousel-inner"  >
					<div class="item active ">
						<img alt="Carousel Bootstrap First" src="<%=Movie.first.image_url%>" class = "thumbnail" style="margin:0 auto;max-height: 400px;"/>
						<div class="carousel-caption">
							<h4>
								<strong><%=Movie.first.title%></strong>
							</h4>

						</div>
					</div>
					<div class="item" >
						<img alt="Carousel Bootstrap Second" src="<%=Movie.second.image_url%>" class = "thumbnail" style="margin:0 auto;max-height: 400px;"/>
						<div class="carousel-caption">
							<h4>
								<strong><%=Movie.second.title%></strong>
							</h4>

						</div>
					</div>
					<div class="item">
						<img alt="Carousel Bootstrap Third" src="<%=Movie.last.image_url%>" class = "thumbnail" style="margin:0 auto; max-height: 400px;"/>
						<div class="carousel-caption">
							<h4>
								<strong><%=Movie.last.title%></strong>
							</h4>

						</div>
					</div>
				</div> <a class="left carousel-control" href="#carousel-917441" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-917441" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
		</div>
	</div> -->
  <div class="row" style="    padding-right: 30px;">
    <div class="col-md-12">
<div id="carousel">
  <figure id="spinner">
	  <%@movies.each do |movie|%>
		  <img class = "thumbnail"src="<%=movie.image_url%>" >
		<%end%>
  </figure>
</div>

<span style="float:left" class="ss-icon" onclick="galleryspin('-')">&lt;</span>
<span style="float:right" class="ss-icon" onclick="galleryspin('')">&gt;</span>
</div>
</div>
<br><br><br>

	<label>Top rated</label>

<br><br>
	<%=render partial: 'index_hor_scroll', locals: {movies: @movies_toprated, view: "by_rating"} %>

	<br><br><br>

		<label>Most viewed</label>

	<br><br>
		<%=render partial: 'index_hor_scroll', locals: {movies: @movies_topviewed, view: "by_views"} %>









</div>
