<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4">
					<%= image_tag @movies.image.url %>
				</div>
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-12">
							<h3>
								<%= @movies.title%>
							</h3>
							<div class="row">
								<div class="col-md-6">
									<p>
                    <%=@movies.genre%>
									</p>
                  <p>
                    <%=@movies.plot%>
                  </p>
								</div>
								<div class="col-md-6">
									<p>
                    <%=@movies.rating%>
									</p>
                  <p>
                    <%=@movies.web%>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
