<div class="">
<div class="row">
<div class="col-md-12">
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
         <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="<%=movies_path%>">MOVIE STORE</a>
        </li>
      </ul>
      <%= form_tag(detail_movies_path(), :method => "get", view: "by_rating", id: "search-form", class: "navbar-form navbar-left") do %>
      <input id="view" name="view" value="by_rating" type="hidden" />
      <%= text_field_tag :search, params[:search], placeholder: "Search Movies", class: "form-group form-control" %>
      <%= submit_tag "Search", class: "btn btn-default"%>
      <% end %>

      <ul class="nav navbar-nav">
        <li class="active">
          <a href="<%=api_key_path%>">API KEY</a>
        </li>
      </ul>

      <ul class="nav navbar-nav pull-right">
						<li class="active">
              <p class="navbar-text pull-right">
                <% if user_signed_in? %>
                  <img class ="pull-left" style="max-width: 20px;" src="<%=current_user.image_url%>"/>&nbsp
                  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link', target: "_blank" %> |
                  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
                <% else %>
                  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link',target: "_blank" %> |
                  <%= link_to "Login", new_user_session_path, :class => 'navbar-link', target: "_blank" %> or
                  <%= link_to " G+", user_google_oauth2_omniauth_authorize_path %>
                <% end %></p>
						</li>
          </ul>
    </div>

  </nav>
</div>
</div>
</div>
