<!DOCTYPE html>
<html class="normal-column" >
  <head>
    <title>Moviestore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>




  </head>

  <body class="container" >
          <%=render 'layouts/header'%>
          <div class="notice" style="background-color: mistyrose;"><%= notice %></div>
          <div class="alert"><%= alert %></div>

          <%= yield %>
          <%=render 'layouts/footer'%>
  </body>

</html>
